<div class='single-question'>
  <div>
    <a href="/surveys/<%= survey.id %>/questions/<%= question.id %>"><%= question.body %></a>
  </div>
  <% if question.choices %>
    <% question.choices.each do |c|  %>
      <%= erb :'choices/_show-single-choices', locals: {choice: c, survey: survey, question: question}  %>
    <% end %>
  <% end %>

  <br>
</div>