<div class='single-question'>
  <div class='question-link'>
    <p><%= question.body %></p>
  </div>
  <% if question.choices %>
      <% question.choices.each do |c|  %>
        <%= erb :'choices/_show_single_choices_take', locals: {choice: c, survey: survey, question: question}  %>
      <% end %>
  <% end %>
  <br>
</div>
