<div class='container'>
  <form class="new_question" action='/surveys/<%=survey.id%>/questions'    method='post'>
    <input type='text' name='question[body]' placeholder='Question'/>
    <input type ='submit' value='Create New question'/>
  </form>
</div>
