<div class='container'>
  <form class="new_choice" action='/surveys/<%=survey.id%>/questions/<%=question.id%>/choices'    method='post'>
    <input type='text' name='choice[choice]' placeholder='Choice'/>
    <input type ='submit' value='Create New Choice'/>
  </form>
</div>
