<div class='sinlge-survey'>
  <div> <%= survey.title %> </div>
  <% if survey.questions %>
    <% survey.questions.each do |q|  %>
      <%= erb :'questions/_show-single-questions', locals: {question: q, survey: survey}  %>
    <% end %>
  <% end %>
  <div><a href="/surveys/<%= survey.id %>/questions/new">Add new question</a></div>
  <br>
  <br>
  <br>
</div>
