<div class='single-survey' id="<%= survey.id %>">
  <h1> <%= survey.title %> </h1>
  <div class="all_questions">
    <div >
      <% if survey.questions %>
        <% survey.questions.each do |q|  %>
          <%= erb :'questions/_show-single-questions', locals: {question: q, survey: survey}  %>
        <% end %>
      <% end %>

    </div>
  </div>
  <div class='question'>

  </div>
  <div >
    <a class="add_question" href="/surveys/<%= survey.id %>/questions/new">Add new question</a>
  </div>
</div>
