<div class='all-surveys'>
  <h1 class ='fix-me'>All Surveys: </h1>
  <ul>
  <% if surveys %>
    <% surveys.each do |s|  %>
      <li><a href="/surveys/<%= s.id %>"><%= s.title  %></a></li>
    <% end %>
  <% end %>
  </ul>
</div>
