<div class="header-main-functionality">
  <a class='header-btn' href="/surveys">Show </a>
  <a class='header-btn' href="/surveys/new">Create </a>
  <a class='header-btn' href="---------------">Answer</a>
</div>

<div class="login-toolbar">
  <% if current_user %>
    <a class='header-btn' href="/logout"> Logout </a>
    <a class='header-btn' href="/users/<%= current_user.id%>"> My Profile</a>
  <% else %>
    <a class='header-btn' href="/login">Login</a>
    <a class='header-btn' href="/users/new">Sign Up</a>
  <% end %>
</div>

