<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link href='http://fonts.googleapis.com/css?family=Cabin+Condensed:400,600' rel='stylesheet' type='text/css'>

  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
<!-- Move the header markup into that _header partial -->
  <header>
    <div class='inner-header'>
     <%= erb :'_header' %>
    </div>
  </header>
<!-- -->

  <div class="main">
    <div class="inner-main">
      <%= yield %>
    </div>
  </div>
  <footer>
    <div class="inner-footer">
      <p>Thank you for using Survey Gorilla - brought to you by TeamLAMBDA</p>
    </div>
  </footer>
</body>
</html>
